/* src/styles.css */
@import "primeng/resources/themes/lara-light-blue/theme.css"; 
@import "primeng/resources/primeng.min.css";                  
@import "primeicons/primeicons.css";                         

:root {
  --bg-color: #d6dee5;
  --card-color: #FFFFFF;
  --card-title: #1E293B;
  --card-text-color: #64748B;
  --btn-random-tip: #6366F1;
  --btn-random-text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
app-root{
  display: block;
  min-height: 100vh;
  background-color: var(--bg-color);
}
app-root.dark-mode{
  --bg-color: #0F172A;
  --card-color: #1E293B;
  --card-title: #F8FAFC;
  --card-text-color: #64748B;
  --btn-random-tip:  #818CF8;
  --btn-random-text-color: #ffffff;
}